.creditsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 1rem;
}

.creditsHeader{
    font-size: 225%;
    color: wheat;

    font-style: italic;
}

.credits{
    font-size: 125%;

    padding: 1rem;
    margin: 0.3rem;
}

.changesList{
    padding-top: 1rem;

    text-align: justify;
    list-style-position: inside;
}

.refLink{
    color: wheat;
}