
.statusWrapper{
    --bgColor: rgb(54, 66, 59);
    --bgColorWithOpacity: rgba(54, 66, 59, 0.85);

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: status-appearing 1s ease-in forwards;
}

@keyframes status-appearing {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.statusImg{
    background-color: var(--bgColorWithOpacity);

    padding: 0.5rem;

    border-radius: 50%;
    border: 2px solid;

    width: 4.5rem;
    aspect-ratio: 1/1;
}

.positiveStatus{
    border-color: var(--positiveColor);
    color: var(--positiveColor);
}

.negativeStatus{
    border-color: var(--negativeColor);
    color: var(--negativeColor);
}

.statusText{
    background-color: var(--bgColor);

    position: absolute;
    top: 82.5%;
    
    font-size: 85%;
    font-weight: 700;

    border-radius: 0.5rem;

    padding: 0.2rem;

    text-align: center;
}