.mainWrapper{
    width: 100vw;
    height: 100vh;   

    background-image: repeating-radial-gradient(
      circle at -10% 50%,
      rgba(26, 44, 56, 0.7),
      rgba(23, 54, 60, 0.7) 15px
    ),
    linear-gradient(
      90deg,
      rgb(6 42 46) 0%,
      rgb(72 185 197) 50%,
      rgb(6 42 46) 100%
    );
  background-attachment: fixed;

  overflow: hidden;
}