.background{
    background-color: #388E3C;
    width: 100vw;
    height: 100vh;
    
    background-image: repeating-radial-gradient(
        circle at -10% 50%,
        rgba(33, 71, 35, 0.7),
        rgba(22, 66, 25, 0.7) 15px
      ),
      linear-gradient(
        90deg,
        #388E3C 0%,
        #9cc79e 50%,
        #388E3C 100%
      );
    background-attachment: fixed;

    position: relative;
}

.userSeats{
    position: absolute;
    bottom: 5%;

    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.balanceInformations{
    display: flex;
    flex-direction: row;

    position: absolute;
    bottom: 0;
    margin: 1rem;

    gap: 5rem;
}

.userBalance, .userAllBets{
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 10rem;

    
    border-radius: 10rem;
    border: 1px solid rgba(214, 221, 4, 0.6);

    background-color: rgba(0, 0, 0, 0.35);
}

.balanceHeading{
    color: white;
    font-size: 110%;
    font-weight: 400;
}

.balanceContent{
    color: #d6dd04;
}