.activePlayer{
    display: flex;
    flex-direction: column;
    place-items: center;

    position: relative;
}

.joinBtn{
    padding: 1.5rem 1rem;
    
    background-color: rgba(0,0,0,0.4);
    color: wheat;

    border: 0;
    box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.3), inset -2px -2px 2px 2px rgba(0,0,0,0.3);

    border-radius: 75%;
}

.pickedChip{
    border-radius: 50%;
    border: 1px solid yellow;
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
}

.playerWrapper{
    display: inline-flex;
    gap: 5px;
}

.playerName{
    color: rgba(255,255,255,0.6);

    font-size: 100%;
}

.leaveBtn{
    width: 1.5rem;
    height: 1.5rem;
    
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.4);

    color: white;
    background-color: rgba(0,0,0,0.3);

    text-align: center;
    font-size: 150%;
    line-height: 100%;
}

.leaveBtn:hover{
    filter: brightness(0.65);
}