.authErrorWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 100%;
    text-align: center;
}

.errorImage{
    aspect-ratio: 1/1;
    width: 10em;
}

.goBack{
    text-decoration: none;

    margin: 1rem;
    padding: 1rem;

    border-radius: 1rem;

    background-color: var(--negativeColor);
    color: black;
}

.goBack:hover{
    filter: brightness(0.85);
}